header {
  li {
    list-style-type: none;
    padding: 5px;
  }

  .headers {
    display: flex;
    justify-content: center;
  }

  .user {
    display: flex;
    justify-content: center;
  }

  .links {
    display: flex;
    justify-content: center;
  }
}
