<ng-container class="header">
  <header>
    <ul class="headers">
      <li *ngFor="let header of curriculumVitaeService.headers | async">
        <a href="#{{header}}">{{header}}</a>
      </li>
    </ul>
    <div class="user">
      <h1>{{ curriculumVitaeService.username }}</h1>
    </div>
    <div class="links">
      <ul *ngFor="let headerLink of curriculumVitaeService.headerLinks | async">
        <a href="{{headerLink.link}}">
          <h2>{{ headerLink.title }}</h2>
        </a>
      </ul>
    </div>
  </header>
</ng-container>
