#mobile-menu-open {
	display: none;
	cursor: pointer;
	position: fixed;
	right: 15px;
	top: 10px;
	color: #3498db;
	font-size: 1.5em;
	z-index: 10;
	padding: 0 7px;
	border-radius: 4px;
	background: #fff
}

#mobile-menu-close {
	display: none;
	text-align: right;
	width: 100%;
	background: #fff;
	font-size: 1.5em;
	padding-right: 15px;
	padding-top: 10px;
	cursor: pointer;
	color: #3498db
}

@media only screen and (max-width: 768px) {
	#mobile-menu-open,
	#mobile-menu-close {
		display: block
	}
}
